html,
body {
    height: 100%;
    overflow-y: auto;
}

@media screen and (max-width: 1200px) {
    html {
        width: 1200px;
        overflow-x: auto;
    }
}

@media screen and (max-width: 1600px) {
    * {
        font-size: 12px;
    }
}

@media screen and (min-width: 1600px) {
    * {
        font-size: 13px;
    }
}

* {
    padding: 0px;
    margin: 0px;
    /*overflow-x: hidden;
  overflow-y: hidden;*/
    font-family: 'SimSun';
}

a {
    text-decoration: none;
    color: white;
}

#nav {
    width: 100%;
    height: 11%;
    /*background-color: rgb(170,247,247);*/
    /*background-image: url(elements/nav.jpg);*/
    background-color: rgb(0,105,101);
    background-size: cover;
    visibility: hidden;
    color: white;
}

#main {
    width: 100%;
    height: 89%;
    visibility: hidden;
}

#nav_left {
    width: 15%;
    height: 100%;
    float: left;
    text-align: center;
}

#nav_left > img {
    width: 90%;
    height: 70%;
}

#nav_left > img:hover {
    cursor: pointer;
}

#nav_right {
    width: 85%;
    height: 100%;
    float: left;
}

#header {
    width: 100%;
    height: 70%;
    font-size: 25px;
    /*color: rgb(1, 111, 111);*/

}

#header>div {
    width: 50%;
    height: 100%;
    float: left;
}

#header_right {
    float: right;
}

#header_right>ul {
    height: 50%;
    float: right;
}

#header_right>ul>li {
    height: 100%;
    float: left;
    list-style: none;
    padding: 5px;
    margin-left: 10px;
}

#header_right>ul>li>a,
#header_right>ul>li>a>span,
#header_right>ul>li>a>span>img {
    height: 100%;
}

#tabs {
    width: 100%;
    height: 30%;
}

#tabs_left {
    width: 70%;
    height: 100%;
    float: left;
}

#tabs_left>ul {
    height: 100%;
}

#tabs_left>ul>li {
    height: 100%;
    width: 90px;
    float: left;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    /*background-color: rgb(1,111,111);*/
    background-image: url(elements/tabs.gif);
    background-size: 100% 100%;
    margin-left: 10px;
    text-align: center;
}

#tabs_left>ul>li>a {
    color: white;
    text-decoration: none;
}

#tabs_right {
    width: 30%;
    height: 100%;
    float: left;
}

#tabs_right>p {
    float: right;
}