.input_button {
  width: 40px;
  background-color:rgb(1, 111, 111);
  color: white;
}

table>tbody>tr>td>a {
	color: blue;
}

/*设备信息*/
#main {
	height: 89%;
	padding: 30px;
	visibility: hidden;
}

#list {
	width: 80%;
	height: 100%;
	float: left;
	border: 1px black solid;
	white-space:nowrap;
	overflow-y: hidden;
}

#search {
	width: 20%;
	height: 100%;
	float: left;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
	border-right: 1px black solid;
	padding:10px;
	white-space:nowrap;	
	font-size: 12px;
}

#search>div {
	width: 100%;
	height: 5%;
}

#search>div>p {
	margin-bottom: 0px;
}

#search>div>select , #search>div>input{
	width: 50%;
}

/*设备编辑*/
#main2 {
	height: 89%;
	width: 100%;
	padding:30px;
	display: none;
}

#main2_header {
	height: 5%;
	width: 100%;
	background-color: grey;
	border: 1px black solid;
}

#main2_header>p {
	padding:5px;
	margin:0px;
	color: white;
}

#main2_header>div {
	color: black;
	padding:5px;
}

#table2 {
	width: 100%;
	height: 100%;
	border: 1px black solid;
	white-space:nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}

#table2>table {
	margin-bottom: 0px;
}

#table2>table>thead {
/*	background-color: rgb(3,161,161);
	color:white;*/
}

#modalAdd-body>div, #modalEdit-body>div {
	margin: 5px;
}

#modalAdd-body>div, #modalEdit-body>div {
	width: 100%;
	height: 35px;
}

#modalDanger-body>table {
	height: 100%;
}

#modalSetting-body>div {
	width: 100%;
	height: 35px;
}

/*区域设置*/
#main3 {
	height: 89%;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	display: none;
}

#main3>div {
	height: 100%;
	width: 100%;
	border: 1px solid black;
}

#areaSet {
	height: 100%;
	width: 50%;
	border-left: 2px solid black;
	float: left;
}

#treeView {
	height: 100%;
	width: 50%;
	float: left;
}

#main3>div>div>p {
	height: 5%;
	width: 100%;
	background-color: rgb(3,161,161);
	color:white;
	font-size: 15px;
	padding: 10px;
	margin-bottom: 0px;
	border-bottom: 1px solid black;
}

#levelTree {
	height: 95%;
	width: 100%;
	overflow-y: auto;
	overflow-x: auto;
}

#areaSet>div {
	padding: 10px;
}

#areaSet>div>p {
	margin-top: 5px;
}

/*线路设置*/
#main4 {
	height: 89%;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	display: none;
}

#main4>div {
	height: 100%;
	width: 100%;
	border: 1px solid black;
}

#lineSet {
	height: 100%;
	width: 50%;
	border-left: 2px solid black;
	float: left;
}

#lineView {
	height: 100%;
	width: 50%;
	float: left;
}

#main4>div>div>p {
	height: 5%;
	width: 100%;
	background-color: rgb(3,161,161);
	color:white;
	font-size: 15px;
	padding: 10px;
	margin-bottom: 0px;
	border-bottom: 1px solid black;
}

#lineTree {
	height: 95%;
	width: 100%;
	overflow-y: auto;
	overflow-x: auto;
}

#lineSet>div {
	padding: 10px;
}

#lineSet>div>p {
	margin-top: 5px;
}

.modal-body > div > p{
	margin-bottom: 0px;
}