<root>
    <host>139.196.202.6</host>
    <port>6178</port>
    <upload_port>6178</upload_port>
    <upload_port_warning>6178</upload_port_warning>
    <nx>10</nx>
    <ny>10</ny>
    <top>0</top>
    <left>0</left>
    <bottom>768</bottom>
    <right>1280</right>
    <width>1280</width>
    <height>768</height>
    <sleep>10</sleep>
    <threshold>4</threshold>
    <resultPath>output</resultPath>
    <refPath>test</refPath>
    <blur>False</blur>
</root>
